<div data-th-fragment="searchBar">

    <div id="action-button "
        class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
        <div>
            <button id="dropdownActionButton" data-dropdown-toggle="dropdownAction"
                class="inline-flex fixed invisible items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                type="button">
                <span class="sr-only">Action button</span>
                Action
                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownAction"
                class="z-10 fixed hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownActionButton">
                    <li>
                        <a id="selector" data-th-onclick="exportPDF()"
                            class="block px-4 py-2 hover:text-gray-900 rounded-e-lg hover:bg-gray-300 dark:hover:bg-gray-600 dark:hover:text-white">
                            <i class="text-red-600 text-lg fa-solid fa-file-pdf"></i> Export Pdf File</a>
                    </li>

                    <li>
                        <a data-th-onclick="exportExcel()"
                            class="block px-4 py-2 hover:text-gray-900 rounded-e-lg hover:bg-gray-300 dark:hover:bg-gray-600 dark:hover:text-white">
                            <i class="text-green-600 text-lg fa-solid fa-file-excel"></i> Export Excel File
                        </a>
                    </li>
                </ul>
                <div class="py-1">
                    <a id="deleteButton" data-th-onclick="deleteContacts([[${user.userId}]])"
                        class="block px-4 py-2 text-sm hover:text-gray-900 rounded-e-lg text-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                        <i class="text-red-500 fa-solid fa-trash"></i> Delete Contact</a>
                </div>
                <div class="py-1">
                    <a href="#" id="favoriteButton" data-th-onclick="favoriteContacts([[${user.userId}]])"
                        class="block px-4 py-2 text-sm hover:text-gray-900 rounded-e-lg text-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                        <i class="text-yellow-400 fa-solid fa-bookmark"></i> Make Favorite</a>
                </div>
            </div>
        </div>
        <label for="table-search" class="sr-only">Search</label>


        <div class="max-w-md">
            <form data-th-action="@{'/scm2/user/search'}" data-th-object="${searchForm}" method="get">
                <div class="flex">
                    <select data-th-field="*{searchField}" required
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-s-md focus:ring-blue-500 focus:border-blue-500 block w-28 p-2.5 dark:bg-gray-700
                         dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="">Search field</option>
                        <option value="byName" selected>By Name</option>
                        <option value="byEmail">By Email</option>
                        <option value="byNumber">By Number</option>
                    </select>
                    <input type="hidden" data-th-field="*{fromRes}">
                    <div class="relative w-full">
                        <input type="search" id="location-search" data-th-field="*{fieldValue}"
                            class="block p-2.5 px-3 w-50 z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                            placeholder="Search your Contacts" required />
                        <button type="submit"
                            class="absolute top-0 end-0 h-full p-2.5 text-sm font-medium text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                            <span class="sr-only">Search</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>